{{template "header" . }}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {{ range $value := .dataRows }}
        <tr>
            <th>{{ $value.Id }}</th>
            <td>{{ $value.Name }}</td>
            <td>
                <button class="btn btn-light">Редактировать</button>
                <button class="btn btn-danger">Удалить</button>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
<button class="btn btn-success">Создать</button>

<button id="btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="mbody" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let modal = $("#exampleModal");
    let mbody = $("#mbody");
    let btn = $("#btn");
    let saveBtn = $("#saveBtn");

    btn.click(function (e) {
        $.ajax({
            type: "get",
            url: "/modal",
            dataType: "html",
            success: function (data) {
                mbody.html(data);
            }
        })

        saveBtn.click(function (e) {

        })
    })
</script>
{{template "footer"}}