{{template "base" .}}

{{define "main"}}

{{if .data}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {{range $index, $item :=.data}}
        <tr>
            <td>{{$item.Id}}</td>
            <td>{{$item.Name}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
{{end}}

{{end}}